<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include('partials/head')  %>

    <body>
        <!--HEADER-->
        <%- include('partials/header')  %>
            <form action="/create" method="POST" id="form" class="cont-form" enctype="multipart/form-data">
                <div class="p-form">
                    <h1>Crear Producto</h1>
                    <div class="igroup">
                        <input type="text" name="name" id="name" minlength="3" maxlength="20" required><span class="ibar"></span>
                        <label for="name">Nombre del producto</label>
                    </div>

                    <div class="igroup">
                        <input type="Text" name="price" id="price" required><span class="ibar"></span>
                        <label for="price">Precio</label>
                    </div>

                    <!-- <div class="group">
                <input type="Text" name="discount" id="discount" placeholder="Ej: 20" required><span class="bar"></span>
                <label for="discount">Descuento</label>
            </div> -->

                    <div class="igroup">
                        <input type="file" name="image" id="image"><span class="ibar"></span>
                        <label for="image">Imagen</label>
                        <!-- accept=".jpg" multiple-->
                    </div>

                    <div class="igroup">
                        <textarea cols="55" rows="2" name="description" id="description"></textarea><span class="ibar"></span>
                        <label for="description">Descripción</label>

                    </div>

                    <div class="igroup">
                        <label for="category">Categoria</label>
                        <select class="f-select" name="category" id="category">
              <option value="">Elegí</option>
              <option value="unico">Unicos</option>
              <option value="varios">Variados</option>
            </select>
                    </div>
                    <button type="submit" class="button">Guardar producto</button>
                </div>
            </form>
            <!--FOOTER-->
            <%- include('partials/footer')  %>
    </body>

</html>